<main>
  <div class="container">
    <app-header></app-header>
    <div class="content">
      <div class="content-main">
        <div class="row">
          <form
            class="c-form box-shadow was-validated"
            [formGroup]="employeeForm"
          >
            <ul>
              <li class="title">会員情報編集</li>
              <!-- <li class="box-err">
                <div class="box-err-content">Hiển thị lỗi chung lại đây</div>
              </li> -->
              <li class="form-group row d-flex">
                <label class="col-form-label col-sm-2"
                  ><i class="relative"
                    >アカウント氏名:<span class="note-red">*</span></i
                  ></label
                >
                <div class="col-sm col-sm-10">
                  <input
                    #employeeLoginId
                    type="text"
                    formControlName="employeeLoginId"
                    class="form-control"
                    [required]="
                      employeeForm.get('employeeLoginId')?.invalid &&
                      employeeForm.get('employeeLoginId')?.touched
                        ? true
                        : false
                    "
                  />

                  <div class="invalid-feedback">
                    {{ getErrorMessage("employeeLoginId") }}
                  </div>
                </div>
              </li>
              <li class="form-group row d-flex">
                <label class="col-form-label col-sm-2"
                  ><i class="relative"
                    >グループ:<span class="note-red">*</span></i
                  ></label
                >
                <div class="col-sm col-sm-10">
                  <select
                    class="form-control"
                    formControlName="departmentId"
                    [required]="
                      employeeForm.get('departmentId')?.invalid &&
                      employeeForm.get('departmentId')?.touched
                        ? true
                        : false
                    "
                  >
                    <option value="">選択してください</option>
                    <option
                      *ngFor="let department of departments"
                      [value]="department.departmentId"
                    >
                      {{ department.departmentName }}
                    </option>
                  </select>
                  <div class="invalid-feedback">
                    {{ getErrorMessage("departmentId") }}
                  </div>
                </div>
              </li>
              <li class="form-group row d-flex">
                <label class="col-form-label col-sm-2"
                  ><i class="relative"
                    >氏名:<span class="note-red">*</span></i
                  ></label
                >
                <div class="col-sm col-sm-10">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="employeeName"
                    [required]="
                      employeeForm.get('employeeName')?.invalid &&
                      employeeForm.get('employeeName')?.touched
                        ? true
                        : false
                    "
                  />
                  <div class="invalid-feedback">
                    {{ getErrorMessage("employeeName") }}
                  </div>
                </div>
              </li>
              <li class="form-group row d-flex">
                <label class="col-form-label col-sm-2"
                  ><i class="relative"
                    >カタカナ氏名:<span class="note-red">*</span></i
                  ></label
                >
                <div class="col-sm col-sm-10">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="employeeNameKana"
                    [required]="
                      employeeForm.get('employeeNameKana')?.invalid &&
                      employeeForm.get('employeeNameKana')?.touched
                        ? true
                        : false
                    "
                  />
                  <div class="invalid-feedback">
                    {{ getErrorMessage("employeeNameKana") }}
                  </div>
                </div>
              </li>
              <li class="form-group row d-flex">
                <label class="col-form-label col-sm-2"
                  ><i class="relative"
                    >生年月日:<span class="note-red">*</span></i
                  ></label
                >
                <div class="col-sm col-sm-10 d-flex">
                  <div class="input-group date datepicker">
                    <input
                      class="form-control"
                      type="text"
                      bsDatepicker
                      readonly
                      [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD' }"
                      formControlName="employeeBirthDate"
                      [required]="
                        employeeForm.get('employeeBirthDate')?.invalid &&
                        employeeForm.get('employeeBirthDate')?.touched
                          ? true
                          : false
                      "
                    />

                    <span class="input-group-addon"
                      ><i class="glyphicon glyphicon-calendar"></i
                    ></span>
                    <div class="invalid-feedback">
                      {{ getErrorMessage("employeeBirthDate") }}
                    </div>
                  </div>
                </div>
              </li>
              <li class="form-group row d-flex">
                <label class="col-form-label col-sm-2"
                  ><i class="relative"
                    >メールアドレス:<span class="note-red">*</span></i
                  ></label
                >
                <div class="col-sm col-sm-10">
                  <input
                    type="email"
                    class="form-control"
                    formControlName="employeeEmail"
                    [required]="
                      employeeForm.get('employeeEmail')?.invalid &&
                      employeeForm.get('employeeEmail')?.touched
                        ? true
                        : false
                    "
                  />
                  <div class="invalid-feedback">
                    {{ getErrorMessage("employeeEmail") }}
                  </div>
                </div>
              </li>
              <li class="form-group row d-flex">
                <label class="col-form-label col-sm-2"
                  ><i class="relative"
                    >電話番号:<span class="note-red">*</span></i
                  ></label
                >
                <div class="col-sm col-sm-10">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="employeeTelephone"
                    [required]="
                      employeeForm.get('employeeTelephone')?.invalid &&
                      employeeForm.get('employeeTelephone')?.touched
                        ? true
                        : false
                    "
                  />
                  <div class="invalid-feedback">
                    {{ getErrorMessage("employeeTelephone") }}
                  </div>
                </div>
              </li>
              <li class="form-group row d-flex">
                <label class="col-form-label col-sm-2"
                  ><i class="relative"
                    >パスワード:<span
                      *ngIf="employeeId == null"
                      class="note-red"
                      >*</span
                    ></i
                  ></label
                >
                <div class="col-sm col-sm-10">
                  <input
                    type="password"
                    class="form-control"
                    formControlName="employeeLoginPassword"
                    [required]="
                      employeeForm.get('employeeLoginPassword')?.invalid &&
                      employeeForm.get('employeeLoginPassword')?.touched
                        ? true
                        : false
                    "
                  />
                  <div class="invalid-feedback">
                    {{ getErrorMessage("employeeLoginPassword") }}
                  </div>
                </div>
              </li>
              <li class="form-group row d-flex">
                <label class="col-form-label col-sm-2"
                  ><i class="relative"
                    >パスワード（確認）:<span
                      *ngIf="employeeId == null"
                      class="note-red"
                      >*</span
                    ></i
                  ></label
                >
                <div class="col-sm col-sm-10">
                  <input
                    type="password"
                    class="form-control"
                    formControlName="employeeConfirmLoginPassword"
                    [required]="
                      employeeForm.get('employeeConfirmLoginPassword')
                        ?.invalid &&
                      employeeForm.get('employeeConfirmLoginPassword')?.touched
                        ? true
                        : false
                    "
                  />
                  <div class="invalid-feedback">
                    {{ getErrorMessage("employeeConfirmLoginPassword") }}
                  </div>
                </div>
              </li>
              <li class="title mt-12"><a href="#!">日本語能力</a></li>
              <li class="form-group row d-flex">
                <label class="col-form-label col-sm-2"
                  ><i class="relative">資格:</i></label
                >
                <div class="col-sm col-sm-10">
                  <select
                    class="form-control"
                    formControlName="certificationId"
                    [required]="
                      employeeForm.get('certificationId')?.invalid &&
                      employeeForm.get('certificationId')?.touched
                        ? true
                        : false
                    "
                  >
                    <option value="">選択してください</option>
                    <option
                      *ngFor="let certification of certifications"
                      [value]="certification.certificationId"
                    >
                      {{ certification.certificationName }}
                    </option>
                  </select>
                  <div class="invalid-feedback">
                    {{ getErrorMessage("certificationId") }}
                  </div>
                </div>
              </li>
              <li class="form-group row d-flex">
                <label class="col-form-label col-sm-2"
                  ><i class="relative"
                    >資格交付日:<span
                      *ngIf="employeeForm.get('certificationId')?.value != ''"
                      class="note-red"
                      >*</span
                    ></i
                  ></label
                >
                <div class="col-sm col-sm-10 d-flex">
                  <div
                    id="datepicker"
                    class="input-group date datepicker"
                    data-date-format="dd-mm-yyyy"
                  >
                    <input
                      class="form-control"
                      type="text"
                      readonly
                      formControlName="certificationStartDate"
                      [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD' }"
                      [disabled]="!employeeForm.get('certificationId')?.value"
                      bsDatepicker
                      [required]="
                        employeeForm.get('certificationStartDate')?.invalid &&
                        employeeForm.get('certificationStartDate')?.touched
                          ? true
                          : false
                      "
                    />
                    <span class="input-group-addon"
                      ><i class="glyphicon glyphicon-calendar"></i
                    ></span>
                    <div class="invalid-feedback">
                      {{ getErrorMessage("certificationStartDate") }}
                    </div>
                  </div>
                </div>
              </li>
              <li class="form-group row d-flex">
                <label class="col-form-label col-sm-2"
                  ><i class="relative"
                    >失効日:<span
                      *ngIf="employeeForm.get('certificationId')?.value != ''"
                      class="note-red"
                      >*</span
                    ></i
                  ></label
                >
                <div class="col-sm col-sm-10 d-flex">
                  <div
                    class="input-group date datepicker"
                    data-date-format="dd-mm-yyyy"
                  >
                    <input
                      class="form-control"
                      type="text"
                      readonly
                      formControlName="certificationEndDate"
                      [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD' }"
                      [disabled]="!employeeForm.get('certificationId')?.value"
                      bsDatepicker
                      [required]="
                        employeeForm.get('certificationEndDate')?.invalid &&
                        employeeForm.get('certificationEndDate')?.touched
                          ? true
                          : false
                      "
                    />
                    <span class="input-group-addon"
                      ><i class="glyphicon glyphicon-calendar"></i
                    ></span>
                    <div class="invalid-feedback">
                      {{ getErrorMessage("certificationEndDate") }}
                    </div>
                  </div>
                </div>
              </li>
              <li class="form-group row d-flex">
                <label class="col-form-label col-sm-2"
                  ><i class="relative"
                    >点数:<span
                      *ngIf="employeeForm.get('certificationId')?.value != ''"
                      class="note-red"
                      >*</span
                    ></i
                  ></label
                >
                <div class="col-sm col-sm-10">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="certificationScore"
                    [disabled]="!employeeForm.get('certificationId')?.value"
                    [required]="
                      employeeForm.get('certificationScore')?.invalid &&
                      employeeForm.get('certificationScore')?.touched
                        ? true
                        : false
                    "
                  />
                  <div class="invalid-feedback">
                    {{ getErrorMessage("certificationScore") }}
                  </div>
                </div>
              </li>
              <li class="form-group row d-flex">
                <div class="btn-group col-sm col-sm-10 ml">
                  <button
                    type="button"
                    class="btn btn-primary btn-sm"
                    (click)="saveEmployeeData()"
                  >
                    確認
                  </button>

                  <button
                    type="button"
                    class="btn btn-secondary btn-sm"
                    routerLink="/user/list"
                  >
                    戻る
                  </button>
                </div>
              </li>
            </ul>
          </form>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</main>
